.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.vault {
  height: 9rem;
  width: 9rem;
}

.secret-container > hr {
  margin-bottom: 0.5rem;
}

.secret-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.secret-content {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
  padding: 0.75rem 2rem;
}

.list > hr :last-child {
  border: 1px solid black;
  display: block;
  width: 100%;
  opacity: 0.7;
}

.form2 {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50vw;
  height: 50vh;
  z-index: 2;
  background-color: #2a2e3e;
  transform: translate(-50%, -50%);
}

.delete-icon {
  display: none;
  height: 2rem;
  width: 2rem;
  opacity: 0.5;
  margin-left: auto;
}

.folder-icon {
  height: 2rem;
  width: 2rem;
}

.folder-icon-active {
  display: none;
  height: 2rem;
  width: 2rem;
}

.secret-content:hover {
  background-image: linear-gradient(to right, #72134b, #1d212c);
}

.secret-content:hover .delete-icon {
  display: block;
}

.delete-icon:hover {
  border-radius: 100%;
  background-color: #2a2e3e;
}

.secret-content:hover .folder-icon {
  display: none;
}

.secret-content:hover .folder-icon-active {
  display: block;
}

.safe-count {
  opacity: 0.3;
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
}

.secret-content-empty {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 14rem;
  overflow-y: auto;
}

.text2 {
  color: rgba(255, 255, 255, 0.3);
  line-height: 1rem;
  text-align: center;
  padding-top: 0.25rem;
}

.normal {
  color: rgba(255, 255, 255, 1);
}

.folder-icon {
  height: 2rem;
  width: 2rem;
}

.secret-container {
  width: 37rem;
  height: 19rem;
  padding: 1rem 0rem;
  background-image: url("../../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -7.5px;
}

.add-secret {
  margin-top: 0.75rem;
  width: 4rem;
  height: 2rem;
  background-color: #e20074;
}

.add-secret-disabled {
  margin-top: 0.75rem;
  width: 4rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
}
