.body {
  background-image: url("../../../assets/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 37rem;
  height: 10rem;
  margin-top: -6.5px;
}

.content {
  padding-left: 13rem;
  padding-top: 2rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.text {
  font-size: 0.9rem;
  padding-right: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
